body {
    font-family: Arial;
    background: #f4f6f9;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

button {
    background: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

pre {
    background: #111;
    color: #00ff88;
    padding: 15px;
    overflow-x: auto;
}
